
.contenedorPrincipal{
    border: 2px solid #ffbf00;
    width: 75%;
    padding: 25%;
    margin: 0;
    padding-left: 0;
    padding-top: 30%;
}

.contenedorCartulina{
    border: 2px solid #959690;
    float: center;
    width: 80%;
    margin: 0;
    
}

.nombreArt{
    color: blue;
    font-family: Bahnschrift;
    padding-left: 10%;
    font-size: calc(0.7em + 0.6vw);
    line-height: 1.8em;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    
    
     
}

.contenedorPrecios{
    color: blue;
    /*font-size:4em;*/
    font-family: Arial black;
    
}

.cantPiezas{
    font-size: calc(5em + 5vw);
    line-height: 1em;
    padding: 0em;
    margin-top: -0.5em;
    margin-bottom: 1em;
    letter-spacing: 0;
}

.piecartulina{
    border: 2px solid #959690;
    color: blue;
    font-size:1em;
    font-family: Bahnschrift SemiBold;
    
}

.tarjeta{
    /*border: 2px solid #959690;*/
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
}

.row{
    /*border: 2px solid #959690;*/
}

.subTitulos_avsa{
    color: #014495;
    font-size: 30px;
    font-weight: 800;
    margin: 40px 0 30px 0;
    text-align: left;
    /*text-transform: uppercase;*/
}
.titulos_avsa{
    color: #014495;

    font-size: 2.5em;
    font-weight: 800;
    margin: 40px 0 30px 0;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
}

.mensaje_errores{
    color: #950144;

    font-size: 40px;
    font-weight: 800;
    margin: 40px 0 30px 0;
    text-align: left;
    text-transform: uppercase;
}

.navbar{
    border-width: 0 0 1px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
}

.bordes{
     border-width: 1px;
     border-style: solid;
     border-color: black;
     float: right;

}

.textoCuerpo{

   font-family: 'Catamaran', sans-serif;
}
.subodegaLogo{
    float: right;
}
